body{
  font-family: "Lato";
  text-align: center;
}

#top_section{
  background-color: #86A8ED;
  font-family: "Libre Baskerville";
  padding-top: 3px;
  padding-bottom: 5px;
}

#top_section h1{
  font-size: 3em;
}

#top_section h2{
  font-size: 2.5em;
}

#safety{
  background-image: url(images/Male_doc.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5px;
}

.saftey_PSI-90{
  display: inline-block;
  position: relative;
}

.tab-div{
  width: 800px;
}

.tab-div-50{
  width: 50%;
}
