body{
  font-family: "Lato";
}

  .top-section{
    background-color: #87bdd8;
    font-family: "Libre Baskerville";
    padding: 15px;
    text-align: center;
  }

  #safety{
    background-image: url(images/female_doc.jpg);
    background-repeat: no-repeat;
    color: black;
    padding-bottom: 15px;
    padding-top: 25px;
  }

  #hcahps{
    background-image: url(images/Male_doc.jpeg);
    background-repeat: no-repeat;
    color: black;
    padding-bottom: 15px;
    padding-top: 25px;
  }

  #eff{
    background-image: url(images/Hospital_front.jpeg);
    background-repeat: no-repeat;
    color: black;
    padding-bottom: 15px;
    padding-top: 25px;
  }

  .vbph{
    font-family: "Libre Baskerville";
    text-align: center;
  }

  .fy{
    font-size: 2.5em;
    margin-top: 20px;
    text-align: center;
  }

  .vbp{
    background-color: #Cfe0e8;
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: center;
  }

  .tb{
    border: solid thin;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    padding: 5px;
    position: relative;
  }

  .table-tab{
    display: inline-block;
  }

  table tr td{
    width: 300px;
  }

  .rt{
    background-color: #87bdd8;
    font-family: "Libre Baskerville";
    font-size: 1.3em;
    padding: 1px;
    text-align: center;
  }

  .spacer{
    margin-bottom: 50px;
    margin-top: 40px;
  }

  .sp{
    margin-top: 150px;
  }

  .sp2{
      margin-top: 150px;
  }

  .bottom-section{
    background-color: #87bdd8;
    padding: 10px;
  }

  .bottom-section h6{
    font-size: .7em;
    font-family: "Lato";
  }
